<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UnitTestsSnapshotReference.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03361B572A45704C0014C203</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03361B6D2A45704D0014C203</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03361B772A45704D0014C203</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
